// Leave animation.
.move-exit {
  opacity: 1;
}

.move-exit-active {
  opacity: 0;
  transition: 700ms ease-in-out;
  transform: translateY(-23px);
}


// Expand animation.
.expand-enter {
  opacity: 0;
  height: 0px;
}

.expand-enter-active {
  opacity: 1;
  height: 188px;
  transition: 500ms;
}

.expand-exit {
  opacity: 1;
  height: 188px;
}

.expand-exit-active {
  opacity: 0;
  height: 0px;
  transition: 500ms;
}
