// Bootstrap colors.
$success: #28a745;
$danger: #dc3545;
$warning: #f0ad4e;
$info: #17a2b8;
$dark: #343a40;
$light: #f8f9fa;

$primary: #F44336;
$primary-light: #FFCDD2;
$primary-dark: #D32F2F;

$secondary: #01579b;
$secondary-light: #4f83cc;
$secondary-dark: #002f6c;

// Muted background colors.
$primary-muted: #77b9ff;
$secondary-muted: #d2d6db;
$success-muted: #8ce2a0;
$warning-muted: #f9d977;
$danger-muted: #f2a4ac;


html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  font-family: Noto Sans;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.clear-link, .clear-link:hover{
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}
