// Bootstrap colors.
$success: #28a745;
$danger: #dc3545;
$warning: #f0ad4e;
$info: #17a2b8;
$dark: #343a40;
$light: #f8f9fa;

$primary: #F44336;
$primary-light: #FFCDD2;
$primary-dark: #D32F2F;

$secondary: #01579b;
$secondary-light: #4f83cc;
$secondary-dark: #002f6c;

// Muted background colors.
$primary-muted: #77b9ff;
$secondary-muted: #d2d6db;
$success-muted: #8ce2a0;
$warning-muted: #f9d977;
$danger-muted: #f2a4ac;

$grey: rgb(222, 226, 230);

$crafted-color: #ffa500;
$unique-color: #a59263;
$set-color: #00ff00;
$rare-color: #cccc52;
$magic-color: #4169e1;

$border-radius: 0;

* {
  box-sizing: border-box;
  font-family: Noto Sans;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.clear-link, .clear-link:hover{
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.small {
  display: block;
  line-height: 110%;
}

// Text ellipsis mixin:
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-small {
  display: block;
  line-height: 1.2;
  font-size: 80%;
}

.line-height-1 {
  line-height: 1 !important;
}
